@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-variant-ligatures: none;
}

pre {
    padding: 0 !important;
    width: inherit;
}

blockquote>p::before {
    display: none;
}

code {
    @apply bg-stone-50 dark:bg-stone-900/90 border dark:border-neutral-800 border-neutral-200
}


pre>code {
    display: grid;
    padding: 14px 0 !important;
}

.code-line {
    padding: 0.75px 12.5px;
    @apply border-l-2 border-transparent
}

.line-number::before {
    display: inline-block;
    width: 1rem;
    margin-right: 22px;
    margin-left: -2px;
    content: attr(line);
    text-align: right;
    @apply text-neutral-700 dark:text-neutral-400 text-xs font-mono;
}

.highlight-line {
    @apply bg-zinc-200/95 dark:bg-zinc-800/90;
}


.keyword {
    color: #d73a49;
    /* GitHub Red */
}

.function {
    color: #6f42c1;
    /* GitHub Purple */
}

.punctuation {
    color: #24292e;
    /* GitHub Black */
}

.comment {
    color: #6a737d;
    /* GitHub Muted Gray */
}

.string,
.constant,
.annotation,
.boolean,
.number {
    color: #005cc5;
    /* GitHub Blue */
}

.tag {
    color: #22863a;
    /* GitHub Green */
}

.attr-name {
    color: #6f42c1;
    /* GitHub Purple */
}

.attr-value {
    color: #e36209;
    /* GitHub Orange */
}

/* Dark Mode */
.dark .keyword {
    color: #f97583;
    /* GitHub Light Red */
}

.dark .function {
    color: #d2a8ff;
    /* GitHub Light Purple */
}

.dark .punctuation {
    color: #c9d1d9;
    /* GitHub Light Gray */
}

.dark .comment {
    color: #8b949e;
    /* GitHub Muted Gray */
}

.dark .string,
.dark .constant,
.dark .annotation,
.dark .boolean,
.dark .number {
    color: #79c0ff;
    /* GitHub Light Blue */
}

.dark .tag {
    color: #a5d6ff;
    /* GitHub Cyan */
}

.dark .attr-name {
    color: #d2a8ff;
    /* GitHub Light Purple */
}

.dark .attr-value {
    color: #ffa657;
    /* GitHub Light Orange */
}

.rehype-code-title {
    @apply px-2 -mb-8 w-full text-sm pt-1 pb-3.5 font-normal tracking-tight font-mono;
}

.highlight-comp>code {
    background-color: transparent !important;
}

.react-tweet-theme {
    margin: auto !important;
    --tweet-body-font-size: 14.5px !important;
    --tweet-font-family: var(--font-body) !important;
    --tweet-bg-color: #f5f5f5 !important;
    --tweet-bg-color-hover: #f5f5f5 !important;
    --tweet-quoted-bg-color-hover: #f5f5f5 !important;
    max-width: 500px !important;
}

.dark .react-tweet-theme {
    --tweet-bg-color: #171717 !important;
    --tweet-bg-color-hover: #171717 !important;
    --tweet-quoted-bg-color-hover: #171717 !important;
    --tweet-border: 1px solid #333;
    --tweet-color-blue-secondary: #fff;
    --tweet-color-blue-secondary-hover: #333;
    --tweet-font-color-secondary: #9ca3af;
}

.tweet-header_avatarOverflow__E2gxj {
    overflow: visible !important;
    top: -30px;
}

.tweet-header_avatarOverflow__E2gxj>img {
    @apply rounded-full;
}