@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

pre {
  padding: 0 !important;
  width: inherit;
}

pre>code {
  display: grid;
  padding: 18px 0 !important;
}

.code-line {
  padding: 0.75px 12.5px;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  margin-right: 22px;
  margin-left: -2px;
  color: rgb(110, 110, 110);
  content: attr(line);
  font-size: 13.5px;
  text-align: right;
}


.highlight-line {
  @apply bg-zinc-800/45;
}


/*  light  mode syntax highlight */

.keyword {
  color: hsla(336, 65%, 45%, 1);
}

.function {
  color: #2d5e9d
}

.punctuation {
  color: gray;
}

.comment {
  color: gray;
}

.string,
.constant,
.annotation,
.boolean,
.number {
  color: hsl(0deg 0% 41.25%)
}

.tag {
  color: hsla(336, 65%, 45%, 1);
}

.attr-value {
  color: hsla(133, 50%, 32%, 1)
}

.attr-name {
  color: #313131;
}


/*  dark mode syntax highlight */

.dark .keyword {
  color: hsla(341, 90%, 67%, 1)
}

.dark .function {
  color: hsla(210, 100%, 66%, 1)
}

.dark .string,
.constant,
.annotation,
.boolean,
.number {
  color: hsl(0, 0%, 71%)
}

.dark .attr-value {
  color: hsla(131, 43%, 57%, 1)
}

.dark .tag {
  color: hsla(341, 90%, 67%, 1)
}

.dark .attr-name {
  color: #cacaca;
}


.rehype-code-title {
  @apply px-3;
  @apply -mb-9;
  @apply w-full;
  @apply text-sm;
  @apply pt-1;
  @apply pb-5;
  @apply font-normal;
  @apply tracking-wider;
  @apply font-medium;
  font-family: var(--font-code) !important;
}

.highlight-comp>code {
  background-color: transparent !important;
}

.react-tweet-theme {
  margin: auto !important;
  --tweet-body-font-size: inherit !important;
  --tweet-font-family: var(--font-body) !important;
  max-width: 500px !important;
}

.dark .react-tweet-theme {
  --tweet-bg-color: #222;
  --tweet-bg-color-hover: var(--tweet-bg-color);
  --tweet-quoted-bg-color-hover: hsla(0, 0%, 100%, .03);
  --tweet-border: 1px solid #333;
  --tweet-color-blue-secondary: #fff;
  --tweet-color-blue-secondary-hover: #333;
  --tweet-font-color-secondary: #9ca3af;
}

.tweet-header_avatarOverflow__E2gxj {
  overflow: visible !important;
  top: -30px;
}

.tweet-header_avatarOverflow__E2gxj>img {
  @apply rounded-full;
}