@tailwind base;
@tailwind components;
@tailwind utilities;


pre {
    padding: 0 !important;
}

pre>code {
    display: grid;
    padding: 7px 0 !important;
    margin: 7px 0 !important;
    font-size: 13.375px !important;
}

span[data-highlighted-line] {
    /* background-color: #181818; */
    border-left: 3px solid #3b82f6;
    @apply bg-zinc-900
}

span[data-line] {
    padding: 0.75px 18px;
}