@tailwind base;
@tailwind components;
@tailwind utilities;


pre {
    padding: 0 !important;
}

pre>code {
    display: grid;
    padding: 7px 0 !important;
    margin: 7px 0 !important;
    font-size: 13.375px !important;
}

span[data-highlighted-line] {
    background-color: #1e1f21;
    border-left: 3px solid #3b82f6;
}

span[data-line] {
    padding: 0.75px 18px;
}

[data-line-numbers] {
    counter-reset: line;
}

[data-line-numbers]>[data-line] {
    counter-increment: line;
    padding-left: 2em;
}

[data-line-numbers]>::before {
    content: counter(line);
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    text-align: right;
    color: rgb(110, 110, 110);
    margin-right: 1.24em;
    font-size: 11.95px;
    font-weight: 500;
}