@tailwind base;
@tailwind components;
@tailwind utilities;


pre {
    padding: 0 !important;
}

pre>code {
    display: grid;
    padding: 7px 0 !important;
    margin: 7px 0 !important;
    font-size: 13.25px !important;
}

span[data-highlighted-line] {
    background-color: #2f353f;
    border-left: 4px solid #0062b7;
    padding-left: 2px;
}

span[data-line] {
    padding: 2px 18px;
}